:root{
    --strongCyan: hsl(172, 67%, 45%);
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishcyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--lightGrayishCyan);
    font-family: "Space Mono", monospace;
    font-weight: 700;
}


main{
    display: grid;
    align-content: center;
    max-width: 800px;
    gap: 100px;
}
.logo{
    justify-self: center;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    background-color: var(--veryLightGrayishCyan);
    padding: 30px;
    border-radius: 12px;
}

/* ================== Left Article ================== */

.leftArticle{
    color: var(--darkGrayishcyan);
}


.buttons_grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 12px;
}

.icons{
    height: 15px;
    width: 12px;
    position: absolute;
    top: 42px;
    left: 8px;
}

.tipAndButtons{
    padding: 20px 0;
}

.btns, input{
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4.5px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

.btns:hover{
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
}

.form_btns{
    background-color: var(--veryDarkCyan);
    color: var(--white);
    font-size: 16px;
}

.greyInput{
    background-color: var(--lightGrayishCyan);
    color: var(--veryDarkCyan);
    text-align: right;
    font-size: 16px;
}

input[type=number]:focus {
border: 1px solid var(--strongCyan);
}


.label{
    padding-bottom: 5px;
}

.inputBoxes{
    display: flex;
    flex-direction: column;
    position: relative;
}


/* ================== Right Article ================== */

.totals{
    background-color: var(--veryDarkCyan);
    padding:  30px 25px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 20px;
}

.totalsDiv{
    display: flex;
    justify-content: space-between;
    p{
        margin: 0;
    }
}
.amountDescription{
    font-size: 16px;
    color: var(--veryLightGrayishCyan);
}
.perPerson{
    font-size: 10px;
    color: var(--lightGrayishCyan);
}


.cashTotals{
    font-size: 24px;
    color: var(--strongCyan);
}

#reset{
    height: 50px;
    align-self: flex-end;
    background-color: hsla(172, 67%, 45%, 0.3);
    color: var(--veryDarkCyan);
}





/* ===========  Webkits  ============ */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ================== Media Queries ================== */

@media screen and (max-width: 700px){
    body{
        grid-template-columns: 1fr
    }

    .logo{
        margin-top: 20px;
    }

    .form{
        grid-template-columns: 1fr
    }

    .buttons_grid{
        input{
            width: 100%;
        }
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }
}