:root{
    --primary: hsl(75, 94%, 57%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease 0.3s;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}



.social-card{
    background-color: var(--off-black);
    padding: 30px;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#profile-img{
    border-radius: 50%;
    width: 35%;
    align-self: center;
    margin-bottom: 1.2rem;
}



#title{
    color: var(--primary);
    margin-top: 1rem;
    margin-bottom: 1.2rem;

}

#description{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}


.social-links{
    display: flex;
    flex-direction: column;
}

.links{
    background-color: var(--grey);
    width: 100%;
    margin-top: 1rem;
    padding: 12.5px;
    border-radius: 10px;
    font-weight: 700;
    list-style-type: none;
    cursor: pointer;
    a{
        color: white;
        text-decoration: none;
    }
}

.social-links :hover{
    background-color: var(--primary);
    a{
        color: var(--dark-grey);
    }
    
}


